{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Démarrer une partie {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <h2>Partie:</h2>
    <p></p>
    Lorsque vous créer une partie, on va vous attribuer de façon aléatoire des questions à chaque exercice pour chaque phase et pour chaque stratégie.
    <p></p>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.Patient, { 'label': "Choisir un patient:" }) }}
    <p></p>
    {{ form_row(form.TempsEntrainement, { 'label': "Temps de pause pour la phase d'entrainement:" }) }}
    <p></p>
    {{ form_row(form.TempsTransfert, { 'label': "Temps de pause pour la phase de transfert:" }) }}
    <p></p>
    {{ form_end(form) }}
{% endblock %}