{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Exercice {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <h2>Exercice:</h2>
    {% for multimedia in multimedias %}

        <p><b>
                {{ multimedia.getNom }}
            </b></p>
        <img src="{{ asset(multimedia.getImage) }}" width='400'alt="" />
        <p></p>
        {% if afficherSon == true %}
            <audio controls>
                <source src="{{ asset(multimedia.getSon) }}" type="audio/mpeg">
                Votre navigateur internet ne supporte pas l'élément audio.
            </audio>
        {% endif %}


    {% endfor %}

    <br />


    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.BonneReponse, { 'label': "Passer à l'image suivante" }) }}
    {{ form_row(form.MauvaiseReponse, { 'label': "Passer à l'image précédente" }) }}
    {{ form_end(form) }}
{% endblock %}