{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Exercice {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ (exercice.getEtapeCourante().numEtape / 13 * 100)|number_format(0) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (exercice.getEtapeCourante().numEtape / 13 * 100)|number_format(0) }}%"></div>
        <div class="text-right" style="margin-right: 15px;">Question {{ exercice.getEtapeCourante().numEtape }} / 13</div>
    </div>

    {% if TypeAffichage == "Exercice" or TypeAffichage == "Nom" %}
        <h2>Exercice:</h2>
        <div class="row">
            {% for multimedia in multimedias %}
                <div class="col-md-4" style="margin-bottom: 15px">
                    <label>
                        {% if TypeAffichage == "Nom" %}
                            {{ multimedia.getNom }}
                        {% else %}
                            Quel est le nom de cette personne ?
                        {% endif %}
                    </label>
                    <img src="{{ asset(multimedia.getImage) }}" style="max-height: 400px; max-width: 266px" class="img-responsive" alt="" />

                    {% if TypeAffichage == "Nom" %}
                        {% if afficherSon == true %}
                            <audio controls style="width: 100%">
                                <source src="{{ asset(multimedia.getSon) }}" type="audio/mpeg">
                                Votre navigateur internet ne supporte pas l'élément audio.
                            </audio>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <br />
        <br />
        {% if TypeAffichage == "Exercice" %}
            <p>La réponse du patient est-elle correcte?</p>
        {% endif %}
        <br />

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% if TypeAffichage == "Nom" %}
            {{ form_row(form.BonneReponse, { 'label': 'Suivant' }) }}
            {{ form_row(form.MauvaiseReponse, { 'label': 'Précédent' }) }}
        {% else %}
            {{ form_row(form.BonneReponse, { 'label': 'Bonne réponse' }) }}
            {{ form_row(form.MauvaiseReponse, { 'label': 'Mauvaise réponse' }) }}
        {% endif %}
        {{ form_end(form) }}

        {% if TypeAffichage == "Exercice" %}
            {% if exercice.getTempsExercice is not null %}
                <div id="countdown"></div>
            {% endif %}

        {% endif %}

    {% else %}
        <p><b>Pause vidéo </b></p>
        {% if PauseVideo is defined %}
            <iframe width="560" height="315" src="{{ PauseVideo.getURL }}"  frameborder="0" allowfullscreen></iframe>

                <div id="countdown">

                </div>

        {% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="hidden">
            {{ form_row(form.MauvaiseReponse, { 'label': 'Mauvaise réponse' }) }}
            {{ form_row(form.BonneReponse, { 'label': 'Suivant' }) }}
        </div>
        {{ form_end(form) }}


    {% endif %}


{% endblock %}

{% block javascripts_complement %}

    <script type="text/javascript" charset="utf-8">
        var countdown =  $("#countdown").countdown360({
            radius      : 60,
            seconds     : {% if TypeAffichage == "Exercice" %} {{ exercice.getTempsExercice }} {% endif %} {% if TypeAffichage == "PauseVideo" %} {{ PauseVideo.getDuree + 10 }} {% endif %},
            fontColor   : '#FFFFFF',
            autostart   : false,
            onComplete  : function () { {% if TypeAffichage == "Exercice" %} $('#form_MauvaiseReponse').click(); {% endif %} {% if TypeAffichage == "PauseVideo" %} $('#form_BonneReponse').click(); {% endif %} }
        });
        countdown.start();
        console.log('countdown360 ',countdown);
    </script>


{% endblock %}