{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Exercice {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <h2>Exercice:</h2>
    {% for multimedia in multimedias %}

        <p><b>
                {% if TypeAffichage == "Nom" %}
                    {{ multimedia.getNom }}
                {% else %}
                    Quel est le nom de cette personne ?
                {% endif %}

            </b></p>
        <img src="{{ asset(multimedia.getImage) }}" width='400'alt="" />
        <p></p>
        {% if afficherSon == true %}
            <audio controls>
                <source src="{{ asset(multimedia.getSon) }}" type="audio/mpeg">
                Votre navigateur internet ne supporte pas l'élément audio.
            </audio>
        {% endif %}


    {% endfor %}

    <br />
    <br />
    {% if TypeAffichage == "Exercice" %}
        <p>La réponse du patient est-elle correcte?</p>
    {% endif %}
    <br />

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.BonneReponse, { 'label': 'Bonne réponse' }) }}
    {{ form_row(form.MauvaiseReponse, { 'label': 'Mauvaise réponse' }) }}
    {{ form_end(form) }}
{% endblock %}