{# app/Resources/views/layout.html.twig #}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Orthophonie{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css">
    {% endblock %}

    <style>
        ul {
            margin-top: 25px;
            padding-left: 0;
        }

        li {
            list-style: none;
            padding-left: 0;
            margin-bottom: 10px;
        }

        .item{
            height: 100%;
            cursor: pointer;
        }

        .item:hover {
            background-color: #eee;
        }

    </style>
</head>

{% block user %}
    {% if app.user %}
        <div style="margin-top: 50px">
            <div class="pull-right" style="display: inline-block; ;border: 1px solid gray; background-color: #f3f3f3; padding: 5px 19px; border-radius: 5px;">
                <span> Bonjour, {{ app.user.prenom }} {{ app.user.nom }} </span> &nbsp;
                <a href="{{ path('upond_orthophonie_home')}}"><span class="glyphicon glyphicon-home" ></span></a> &nbsp;
                <a href="{{ path('fos_user_profile_edit')}}"><span class="glyphicon glyphicon-user" ></span></a> &nbsp;
                <a href="{{ path('fos_user_security_logout')}}"><span class="glyphicon glyphicon-off" ></span></a>
            </div>
        </div>
    {% endif %}


<body>

<div class="container">
    <h2 style="text-shadow: 3px 3px 3px #d3d3d3;">
        Orthophonie
    </h2>
    <div class="row">
        {% if app.user is null %}
            {{ render(controller("UPONDOrthophonieBundle:Connexion:accueil")) }}
        {% endif %}
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>


</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>




{% endblock %}
