

{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Statistique - {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

    <div name="intitule">
        <h1>Gestion des médecins</h1>
    </div>

    <div class="seekForDoctor">
        <form method="post">
            {{ form(form) }}
        </form>
    </div>

    <div class="resultat">
        <ul>
            {% if liste_utilisateur is defined %}
                {% for utilisateur in liste_utilisateur %}
                    <li> {{ utilisateur.id }}  {{ utilisateur.nom }}  {{ utilisateur.prenom }}<a href="upond_root" method="GET">Modifier</a></li>
                {% else %}
                    <p>Désolé il n'y a, pour le moment, aucune annonce correspondant à votre recherche.</p>
                {% endfor %}
            {% endif %}

        </ul>
    </div>

{% endblock %}