{% extends "UPONDOrthophonieBundle::layout.html.twig" %}

{% block title %}
    Stratégies {{ parent() }}
{% endblock %}

{% block orthophonie_body %}

<div class="container">

    <hr style="margin: 50px 0 0 0">
    <div class="text-center" style="margin: 25px 0">
        <h4>Choix de la stratégie</h4>
    </div>

    <div class="row" style="display: flex">
        <div class="col-sm-3 text-center">
            <a href="{{ path('upond_orthophonie_morphologie') }}">
            <div class="item" style="border-radius: 5px; border: 1px solid lightgray; padding: 30px; height:40%;">
                <img style="border-radius: 2em" src="http://www.cercle-franco-allemand-alsace.fr/wp-content/uploads/2016/01/unknown.png" width="100%" />
                <br/><br/><h4>Morphologie</h4>
            </div>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="{{ path('upond_orthophonie_morphologie_inverse') }}">
            <div class="item" style="border-radius: 5px; border: 1px solid lightgray; padding: 30px; height:40%;">

                <img style="border-radius: 2em" src="http://www.cercle-franco-allemand-alsace.fr/wp-content/uploads/2016/01/unknown.png" width="100%" />
                <br/><br/><h4>Morphologie inverse</h4>

            </div>
                </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="{{ path('upond_orthophonie_metier') }}">
            <div class="item" style="border-radius: 5px; border: 1px solid lightgray; padding: 30px; height:40%;">
                <img style="border-radius: 2em" src="http://www.cercle-franco-allemand-alsace.fr/wp-content/uploads/2016/01/unknown.png" width="100%" />
                <br/><br/><h4>Métier</h4>
            </div>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <a href="{{ path('upond_orthophonie_association_idees') }}">
            <div class="item" style="border-radius: 5px; border: 1px solid lightgray; padding: 30px; height:40%;">
                <img style="border-radius: 2em" src="http://www.cercle-franco-allemand-alsace.fr/wp-content/uploads/2016/01/unknown.png" width="100%" />
                <br/><br/><h4>Association d'idées</h4>
            </div>
            </a>
        </div>
        <div class="col-sm-3 text-center">
            <div class="item" style="border-radius: 5px; border: 1px solid lightgray; padding: 30px; height:40%;">
                <img style="border-radius: 2em" src="http://www.cercle-franco-allemand-alsace.fr/wp-content/uploads/2016/01/unknown.png" width="100%" />
                <br/><br/><h4>Association d'idées</h4>
            </div>
        </div>
    </div>
    <br/><br/>
    <a href="{{ path('upond_orthophonie_home') }}" class="btn btn-info">&lt;&lt; Retourner à l'accueil</a>


    <hr style="margin: 20px 0 15px 0">

    <div class="text-right">
        <img src="http://rrpb2.u-bordeaux4.fr/wp-content/uploads/2012/10/logo-Parisouest.jpg" width="100px">
    </div>

</div>

{% endblock %}